.container {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
.container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.container button {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
}
.container button:disabled {
  cursor: not-allowed;
}
